@model Cinema.Models.Ticket
@{
    ViewData["Title"] = "Create";
}

<h2>Create Ticket</h2>
<form method="post" asp-action="Add" asp-controller="Ticket">
    <div class="form-group">
        <label asp-for="Number"></label>
        <input asp-for="Number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MovieId"></label>
        <select asp-for="MovieId" asp-items="@(new SelectList(ViewBag.Movies, "Id", "Title"))" class="form-control">
            <option value="">Selet a Movie</option>
        </select>@* 
        <input asp-for="MovieId" class="form-control" /> *@
    </div>
    <div class="form-group">
        <label asp-for="VisitorId"></label>
        <select asp-for="VisitorId" asp-items="@(new SelectList(ViewBag.Visitors, "Id", "Name"))" class="form-control">
            <option value="">Selet a Visitor</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="PlaceId"></label>
        <select asp-for="PlaceId" asp-items="@(new SelectList(ViewBag.Places, "Id", "Number"))" class="form-control">
            <option value="">Selet a Visitor</option>
        </select>
        @* <input asp-for="PlaceId" class="form-control" /> *@
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>