@model Cinema.Models.Ticket
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Ticket</h2>
<form method="post" asp-action="Edit" asp-controller="Ticket">
    <div class="form-group">
        <label asp-for="Number"></label>
        <input asp-for="Number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MovieId"></label>
        <input asp-for="MovieId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="VisitorId"></label>
        <input asp-for="VisitorId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PlaceId"></label>
        <input asp-for="PlaceId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>