@model Cinema.Models.Ticket
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Ticket</h2>
<form method="post" asp-action="Edit" asp-controller="Ticket">
    <div class="form-group">
        <label asp-for="Number"></label>
        <input asp-for="Number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Movie"></label>
        <input asp-for="Movie" asp-items="@(new SelectList(ViewBag.Movies,"Title"))"
               class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Visitor"></label>
        <input asp-for="Visitor" asp-items="@(new SelectList(ViewBag.Visitors,"Name"))"
               class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Place"></label>
        <input asp-for="Place" asp-items="@(new SelectList(ViewBag.Places,"Number"))"
               class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>