@model Cinema.Models.Movie

<h2>Edit Movie</h2>
<form method="post" asp-controller="Movie" asp-action="Edit">
    <div class="form-control">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="GenreId"></label>
       @* <select asp-for="Genre" asp-items="@(new SelectList(ViewBag.Genres,"Title"))"
                class="form-control"></select>*@
        <input asp-for="GenreId" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="Poster" class="form-label"></label>
        <input asp-for="Poster" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Plot" class="form-label"></label>
        <input asp-for="Plot" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="VisitorRating" class="form-label"></label>
        <input asp-for="VisitorRating" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ProjectionWeek" class="form-label"></label>
        <input asp-for="ProjectionWeek" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <input type="submit" value="Update" class="btn btn-primary" asp-controller="Movie" />
</form>